<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Relabs-test</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Список сообщений</h1>
    <form id="messageForm">
        <textarea id="message" rows="4" cols="50"></textarea>
        <button type="submit">Отправить сообщение</button>
    </form>
    <ul id="messageList">
    </ul>
    <script src="/static/client.js"></script>
</body>
</html>